@import url('https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=fallback');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=fallback');@import "tailwindcss";

@theme {
  --breakpoint-xs: 30rem;
  --font-sans: "Inter", "Helvetica Neue", "Helvetica", sans-serif;
  --font-serif: "Cardo", sans-serif;
  --font-serif-italic: "Cardo Italic", "Times New Roman", "Times", serif;
  --font-mono: "Mono", "Courier New", "Courier", "Monaco", monospace;
  --color-for-primary: var(--color-black);
  --color-for-secondary: var(--color-gray-800);
  --color-for-tertiary: var(--color-gray-400);
  --color-for-link: var(--color-blue-600);
  --color-bac-primary: var(--color-gray-50);
  --color-bac-secondary: var(--color-white);
}

/* 
– – GLOBAL – –  
*/

body {
  @apply bg-bac-primary w-screen h-full font-serif min-h-screen flex flex-col md:flex-row justify-start md:justify-center mx-auto;
}
main {
  @apply mb-80 w-full md:w-2xl md:pt-12 md:pr-[72px];
}

/* 
– – GLOBAL TEXT – –  
*/

h2 {
  @apply text-2xl text-for-primary md:pr-12 pb-2 leading-8 mb-6 mt-14 font-sans font-semibold md:px-0 px-6;
}
h3 {
  @apply text-base text-for-primary md:pr-12 pb-2 leading-8 mb-2 mt-10 font-sans font-semibold md:px-0 px-6;
}
p {
  @apply text-for-primary text-xl leading-9 mb-6 md:px-0 px-6;
}
a {
  @apply text-for-secondary no-underline;
}



.weekend {
  @apply border border-for-primary py-10 px-16 text-2xl bg-white;
}


/* nav base */


/* nav float medium */

.nav-container {
  @apply border-b md:border-b-0 p-6 md:p-0 md:inline md:fixed md:top-0 md:right-0 md:h-screen md:w-60 md:z-50;
}

.nav ol {
  @apply flex flex-row md:flex-col gap-5 md:gap-0 list-none p-0 m-0;
}

.nav ol li {
  @apply flex flex-row;
}

.nav-item {
  @apply md:px-10 md:py-3 font-serif-italic text-lg md:text-xl md:block w-full border-b-0 hover:border-b-0;
}
.nav ol li a span {
  @apply text-gray-800 italic no-underline;
}

.nav {
  @apply bg-gray-50 md:pt-12 md:pb-8 md:absolute md:border-l md:border-gray-800 md:right-0 md:h-screen md:w-60 md:transition-transform md:duration-400 md:ease-in-out md:flex md:flex-col md:justify-between;
  pointer-events: all;
  transform: translateX(0);
}

.nav-container:not(:hover) .nav {
  @apply md:[transform:translateX(calc(100%-72px))];
}

.nav-container.nav-persistent .nav {
  @apply md:[transform:translateX(0)];
}




/* posts list */

.posts {
  @apply font-serif text-xl list-none;
}
.posts li {
  @apply flex justify-between border-b border-gray-500 md:px-0 px-6;
}
.post-link {
  @apply flex flex-row justify-between gap-10 w-full;
}
.post-title {
  @apply flex-1 py-3 p-0 m-0;
}
.post-date {
  @apply text-for-secondary text-lg py-3 min-w-24 font-serif italic whitespace-nowrap text-right;
}

/* icons */

.icon-info {
  @apply p-1 hover:bg-gray-200 rounded-md inline-block align-middle text-gray-600 invisible opacity-0 transition-opacity duration-200 absolute bottom-full left-1/2 -translate-x-1/2 mb-3 w-48 text-sm shadow-xl z-50;
}

/* 
– – ABOUT, COLOPHON – –  
*/

/* text */

.about a {
  @apply underline decoration-1 underline-offset-4 decoration-for-link hover:text-for-link;
}

/* ordered list */

.about ol {
  @apply ml-4 md:-ml-3 px-6 md:px-0 list-decimal text-xl list-outside;
}
.about ol li {
  @apply mb-3 pl-3;
}
.about ol li::marker {
  @apply text-for-tertiary;
}

/* unordered list */

.about ul {
  @apply ml-4 md:-ml-5 px-6 md:px-0 list-["\2013"] text-xl list-outside;
}
.about ul li {
  @apply mb-3 pl-5;
}
.about ul li::marker {
  @apply text-for-tertiary;
}

/*

– – POST – –  

*/

/* post header */

.post-header {
  @apply text-for-tertiary hover:text-for-secondary transition-colors duration-300 ease-in-out w-full mt-6 md:mt-3 text-xl flex flex-col md:flex-row md:justify-between pb-4 mb-5 md:mb-15 md:px-0 px-6;
}
.post-header-links {
  @apply text-xl font-serif md:inline-flex gap-2;
}
.post-header-date {
  @apply font-serif text-lg italic;
}


/* 

– – POST CONTENT – – 

*/


/* blockquote */

.post-content > blockquote > :first-child {
  @apply mt-1;
}
.post-content > h2 {
}
.post-content > p {
}
.post-content > p > strong {
  @apply text-for-secondary px-1 font-semibold;
}
.post-content > p > em {
  @apply text-for-primary px-1;
}
.post-content > p > a {
  @apply underline decoration-1 underline-offset-4 decoration-for-link hover:text-for-link;
}

/* image */

.post-content > p:has(img) {
  @apply my-8 px-0 mx-4 md:mx-0;
}
.post-content > p > img {
  @apply md:m-11 border border-gray-800 border-b-2 border-r-2 md:-mx-12 md:w-[calc(100%+6rem)] md:max-w-none;
}

/* blockquote */

blockquote {
  @apply p-5 pb-8 px-0 md:p-7 md:pb-6 md:pr-8 my-8 mx-4 md:my-10 md:m-11 border border-b-2 border-r-2 border-gray-800 bg-white md:-mx-12 md:w-[calc(100%+6rem)] md:max-w-none;
}
blockquote > p {
  @apply text-for-secondary leading-8 font-sans font-normal mb-3;
}
blockquote > p > em {
  @apply text-gray-950 px-2 leading-8 not-italic font-sans bg-amber-100 font-medium m-0;
}
blockquote > p > strong {
  @apply text-gray-950 px-2 leading-8 not-italic font-sans bg-amber-100 font-medium m-0;
}

/* table */

table {
  @apply text-base table-auto font-sans p-6 pb-12 pr-8 mx-4 my-10 rounded-sm border border-r-2 border-b-2 border-for-secondary bg-white md:-mx-12 md:w-[calc(100%+6rem)] md:max-w-none;
}
table th {
  @apply p-5 pr-6 pb-1 text-left align-top;
}
table td {
  @apply p-5 pr-6 pb-1 text-left align-top;
}
table tbody tr:last-child td {
  @apply pb-8;
}

/* footnotes in post */

.footnote-ref a {
  @apply text-for-link px-1 text-sm font-normal font-sans no-underline;
}

/* footnotes */

.footnotes-sep {
  @apply mb-8 mt-13 md:mt-24 border-t border-gray-800;
}
.footnotes {
  @apply md:px-0 px-6 mb-6;
}
.footnotes .footnote-item {
  @apply flex items-start gap-4;
}
.footnotes .footnotes-list .footnote-item p {
  @apply text-base leading-7 px-0 font-sans font-normal text-for-primary mb-3;
}
.footnotes .footnotes-list .footnote-item p a {
  @apply underline decoration-1 underline-offset-4 decoration-for-link hover:text-for-link;
}
.footnotes .footnotes-list .footnote-item .footnote-backref {
  @apply text-for-secondary no-underline text-base font-sans mb-0 font-normal;
}



