<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <link rel="stylesheet" href="/bundle.css">
  <title>Tom Kingdom</title>
  <script async src="https://plausible.io/js/pa-X71eNRa5m2n01fk1ubBZl.js"></script>
<script>
  window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
  plausible.init()
</script>
</head>
<body>
  <header>
  {% include "nav.html" %}   
  </header>
  <main>
    <div class="about">

 {{ content }}
 </div>

  </main>
</body>
</html>
